@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

.special-t{
  font-family: var(--font-fraunces);
}

.normal-t{
    font-size: 14px;
    font-family: var(--font-montserrat);
}


body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #F3EBE4;
  }


  .strike-line{
 
    content: "";
    width:  3.8rem;
    height: 1.5px;
    background-color: #8e8e8e;
    position: absolute;
    top: 52%;
    left: 0;
  }

  .icon-cart {
    width: 18px;
    height: 18px;
    background: url('./assets/icon-cart.svg') no-repeat center;
    background-size: contain;
  }
  
  
  @media (min-width:768px) {
    body{
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F3EBE4;
    }
  }